body{
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 60px;

    background-color: #adadad;
    background-image: url(jonny_wilkinson.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    color:#daa320;
}
#sur_background {
    background-color: #00000028;
    padding: 20px;
}
#somaire_list li {
    list-style-type: none;
}

a:hover {
    color: #adadad;
}
a:visited {
    color: #33ff00;
}

#datacenter, #routeur , #developpement , #page_web{
    width: 30%;
    border: 1px solid;
}
#formulation {
    text-align: right;
    font-style: italic;
    font-weight: bold;
}
.bg-black
{
    background-color: #000000;
}